node_modules/
.env
.DS_Store
*.log


/backend/node_modules/

backend/node_modules/
backend/.env
backend/.DS_Store
/backend/*.log
/frontend/node_modules/
/frontend/.env
/frontend/.DS_Store
/frontend/*.log
/.vscode/

/frontend/build/
/backend/dist/
/frontend/.env.local
/frontend/.next/
/frontend/out/
/frontend/.turbo/
/coverage/
/.nyc_output/